html {
    box-sizing: border-box;
    
    }
    *, *:after, *:before {
    
    box-sizing: inherit;
    }


body{
    background-color: #2C2141;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif
}
.main{
    background-color: #F8F8F8;
    width: 624px;
    min-height: 320px;
    border-radius: 16px;
    padding: 32px;
}
.article{
    display: flex;
    align-items: flex-start;
}
.article__header{
    margin-bottom: 24px;

}
.article__image{
width: 148px;
height: 148px;
margin-right: 32px;

}
.article__author{
    color: #000000;
    font-size: 36px;
    margin: 0;
}
.article__status{
    color: #545454;
    margin: 0;
    font-size 18px;
    font-style: italic;
}
.article__description{
    font-size: 16px;
    font-weight: normal;
    max-width: 380px;
    min-height: 173px;
    line-height: 22px;
    margin: 0;
}
.special-one{
    color: #ED6D05;
    font-weight: normal
}
.special-two{
text-align: justify;
color: #ED6D05;
font-weight: normal
}
a{
    text-decoration: none;
    color: #E20613
}